@charset "utf-8";

#item{
    width: 500px;
    height: 40px auto;
    position: relative;
}
.btn_show{
    position: absolute;
    top:  260px;
    left: 20px;
}
.text{
    width: 400px;
    line-height: 1.2;
    text-align: justify;
    display: none;
}